<!DOCTYPE html>
<html lang="en">
<head>
<title>News Letter</title>
<meta charset="utf-8">	
<!--Chart.js library-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    #wrapper {
    margin: auto;
    width: 960px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    border: 3px solid black;
    line-height: normal;
}
</style>
</head>

    <body>
        <div id = "wrapper">
            <h1>August 2021 Newsletter</h1>
            <h3>Team Bull Street to the Moon!</h3>
            <p>
                Join Automobex in congratulating and thanking Team Bull Street at Capgemini for designing our project Adaptic that has
                skyrocketed employee engagement and collaboration. Ever since implementing this application, revenue, sales, and profits are 
                reaching astronomically, new, high numbers with each passing day reminiscent to the Gamestop short squeeze earlier this year. 
                Once again, thank you to the <strong><i>intelligent, elite, phenomenal</i></strong> Team Bull Street for the most innovative employee
                collaboration app on the market today! 
            </p>

            <h3>Employee of the Month</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
               nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
               in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
               officia deserunt mollit anim id est laborum.</p>

            <p>Sincerely,<br>
                Bob Schwartz, Chief Happiness Officer</p>

        </div>

            
            
            <canvas id = "compare"></canvas>
            <!--
            <canvas id = "dislikes"></canvas>
            <canvas id = "comments"></canvas>
            -->

        </div>
    </body>

</html>