<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Working Women</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inlcu.css') }}">
</head>

<body>
  <header role="banner">
    <h1>Working Women</h1>
    <nav role="navigation">
      <ul>
        <li><a href="{{ url_for('inclusion') }}">Home</a></li>
        <li><a href="LGBTQ.html">LGBTQ</a></li>
        <li><a href="AA.html">BIPOC</a></li>
        <li><a href="{{ url_for('anno')}}">Incident Form</a></li>
      </ul>
    </nav>
  </header>
  <main id="main-content" tabindex="-1" role="main">
    <section>

      <p>Automobex strives itself in providing essential benefits to all employees. To provide for all employees, this includes current and future working mothers.

      </p>
      <h2><u>Maternity Leave</u></h2>
      <p>Maternity leave is essential to women and their healthy return to working. AutoMobex is proud to offer an extensive Maternity and Paternity leave program as outlined here:</p>
    
        <li><a href=" http://automobex.com/women/maternitypaternityleave/">Paternity Leave</a></li>
      
      <h2><u>Daycare</u></h2>
      <p>AutoMobex is proud to offer complementary daycare services to employees with children under the age of 5. There are options provided for daycare through AutoMobex, these centers are listed below:

      </p>
      
        <h3>Day Care options</h3>
        <li><a href=" https://littleducklings.com/automobex">Little Ducklings</a></li>
        <li><a href="  https://www.storytimedaycare.com/automobex">Story Time</a></li>
        <li><a href=" https://www.steppingstonespreschool.com/automobex">Stepping Stones Preschool</a></li>
        <li><a href=" https://alphabetkids.com/automobex">Alphabet Kids</a></li>
      
      <h2><u>Additional Resources</u></h2>
      <p>These additional resources were sourced and provided by our partner in Women’s Rights, and are free to access and distribute to whomever may need.

      </p>
      
        <h3>Resource Links</h3>
        <li><a href=" https://www.workingmother.com/">Working Mothers</a></li>
        <li><a href="  https://www.aauw.org/resources/article/fast-facts-working-moms/">AAUW</a></li>
        <li><a href=" https://www.healthychildren.org/English/family-life/work-play/Pages/Working-Mothers.aspx">Healthy Children Organization</a></li>
      
    </section>
  </main>
  <footer role="contentinfo">
    <p><small>All content &copy; AutoMobex</small></p>
  </footer>
</body>

</html>
